In [1]:
import spacy

In [9]:
nlp=spacy.load("en_core_web_sm")
nlp.pipe_names

['tok2vec', 'tagger', 'parser', 'attribute_ruler', 'lemmatizer', 'ner']

In [10]:
doc=nlp("Tesla Inc is going to acquire Twitter Inc for $45 billion")
for ent in doc.ents:
  print(ent.text, "|",ent.label_, "|",spacy.explain(ent.label_))

Tesla Inc | ORG | Companies, agencies, institutions, etc.
Twitter Inc | ORG | Companies, agencies, institutions, etc.
$45 billion | MONEY | Monetary values, including unit

In [11]:
nlp.pipe_labels["ner"]

['CARDINAL',
 'DATE',
 'EVENT',
 'FAC',
 'GPE',
 'LANGUAGE',
 'LAW',
 'LOC',
 'MONEY',
 'NORP',
 'ORDINAL',
 'ORG',
 'PERCENT',
 'PERSON',
 'PRODUCT',
 'QUANTITY',
 'TIME',
 'WORK_OF_ART']

In [12]:

doc=nlp("Michael Bloomberge founded Bloomberg in 1982")
for ent in doc.ents:
  print(ent.text, "|",ent.label_, "|",spacy.explain(ent.label_))

Michael Bloomberge | PERSON | People, including fictional
Bloomberg | ORG | Companies, agencies, institutions, etc.
1982 | DATE | Absolute or relative dates or periods

In [15]:

doc=nlp("Michael Bloomberge founded Bloomberg in 1982")
for ent in doc.ents:
  print(ent.text, "|",ent.label_)

Michael Bloomberge | PERSON
Bloomberg | ORG
1982 | DATE

In [16]:
s=doc[2:5]
s

founded Bloomberg in

In [17]:
type(s)

spacy.tokens.span.Span

In [19]:
from spacy.tokens import Span

s1=Span(doc,0,1,label="ORG")
s2=Span(doc,5,6,label="ORG")
doc.set_ents([s1,s2],default="unmodified")

In [20]:
for ent in doc.ents:
  print(ent.text,"|",ent.label_)

Michael | ORG
Bloomberge | PERSON
Bloomberg | ORG
1982 | ORG